$icon-font-family: 'icons-set' !default;
$icon-font-path: '../fonts' !default;

$icon-incontact: unquote('"\\e906"');
$icon-telegram: unquote('"\\e907"');
$icon-watsapp: unquote('"\\e908"');
$icon-read-text: unquote('"\\e905"');
$icon-text-doc: unquote('"\\e904"');
$icon-recycle: unquote('"\\e903"');
$icon-arrow-dow: unquote('"\\e92b"');
$icon-arrow-left: unquote('"\\e92c"');
$icon-arrow-right: unquote('"\\e950"');
$icon-arrow-up: unquote('"\\e95b"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-interaction: unquote('"\\e900"');
$icon-phone: unquote('"\\e901"');
$icon-mail: unquote('"\\e902"');
