extends ../layout/app_layout 
block title
	- var text='CreativeCult - CULT-HTML' 

block header
	include ../layout/header
block burger-menu
	include ../partials/burger-menu
block info-block
	include ../partials/section-info 
block section-service-nordcore
	include ../partials/section-nordcore
block section-service-swift 
	include ../partials/section-swift 
block section-cases
	include ../partials/section-cases
block section-media 
	include ../partials/section-media 
block siction-review
	include ../partials/section-review 
block section-clients
	include ../partials/section-clients
block section-direction
	include ../partials/section-direct
block section-contact
	include ../partials/section-contact
block section-footer
	include ..//partials/section-footer