.page {
	overflow: hidden;
	margin-top: -246px;

	// .page__item
	&__item {
		position: relative;
		overflow: hidden;
	}

	// .page__info
	&__info {
		overflow: hidden;
		position: relative;
		z-index: 9;
		background: linear-gradient(135deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
		padding: 376px 16px 0;
		border-radius: 0px 0px 64px 64px;
		@include _690 {
			padding: 256px 16px 0;
			border-radius: 0px 0px 40px 40px;
		}
	}

	// .page__services-nordcore
	&__services-nordcore {
		position: relative;
		z-index: 8;
		border-radius: 0px 0px 64px 64px;
		background: rgb(220, 221, 224);
		padding: 184px 16px 120px;
		margin-top: -120px;
		@include _690 {
			padding: 184px 0 120px 16px;
		}
	}

	// .page__services-swift
	&__services-swift {
		position: relative;
		z-index: 7;
		border-radius: 0px 0px 64px 64px;
		background: rgb(237, 237, 237);
		padding: 184px 16px 120px;
		margin-top: -120px;
		@include _690 {
			padding: 184px 0 120px 16px;
		}
	}

	// .page__cases
	&__cases {
		position: relative;
		z-index: 6;
		border-radius: 0px 0px 64px 64px;
		background: linear-gradient(135deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
		margin-top: -120px;
	}

	// .page__media
	&__media {
		position: relative;
		z-index: 5;
		background: rgb(101, 73, 212);
		margin-top: -120px;
	}

	// .page__review
	&__review {
		overflow: hidden;
		position: relative;
		z-index: 6;
		border-radius: 64px;
		background: linear-gradient(135deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
		margin-top: -120px;
	}

	// .page__clients
	&__clients {
		position: relative;
		z-index: 5;
		border-radius: 0px 0px 64px 64px;
		background: rgb(237, 237, 237);
		margin-top: -120px;
	}

	// .page__direction
	&__direction {
		position: relative;
		z-index: 4;
		margin-top: -120px;
		background: rgb(220, 221, 224);
	}

	// .page__contact
	&__contact {
		position: relative;
		z-index: 5;
		margin-top: -120px;
		border-radius: 64px 64px 0px 0px;
		background: rgb(20, 92, 239);
	}

	// .page__footer
	&__footer {
		position: relative;
		z-index: 6;
		margin-top: -64px;
		border-radius: 64px 64px 0px 0px;
		background: linear-gradient(135deg, rgb(28, 39, 74) 0%, rgb(4, 7, 17) 100%);
		@include _960 {
			border-radius: 40px 40px 0px 0px;
		}
	}
}
