.breadcrumbs {
	z-index: 4;
	width: 100%;
	padding: 0 1rem;
	line-height: 24px;
	border-bottom: 1px solid #0000005e;
	background-color: var(--background-active-bar);

	// .breadcrumbs__list
	&__list {
		@include flex-align-center;
	}

	// .breadcrumbs__link
	&__link {
		color: #808cb4;
		font-size: 1.4rem;
	}

	// .breadcrumbs__item
	&__item {
		.icon-angle-right {
			margin: 0 1rem;
		}
		@include flex-align-center;
	}
}
