.burger-menu {
	@include _min-768 {
		display: none;
	}
	@include _screen-768 {
		overflow-x: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 12;
		transition: transform 0.4s ease 0s;
		transform: translateX(-110%);
		background: linear-gradient(135deg, rgb(28, 39, 74), rgb(4, 7, 17));

		&._open {
			transform: translateX(0);
		}
		&__bg {
			z-index: 13;
			position: sticky;
			transform: translateY(-88px);
			margin-top: -70px;

			top: 0px;
			left: 0;
			height: 88px;
			width: 100%;

			background: linear-gradient(26deg, rgb(28, 39, 74), rgba(4, 7, 17));
		}
		padding-top: 88px;
		&__body {
			padding: 0 8px;
			border-top: 1px solid rgba(220, 221, 224, 0.12);
		}

		&__header {
			padding: 0 16px;
		}

		.menu-doun {
			gap: 8px;
			min-height: 100%;
			height: 100%;
			&__button {
				@include _490 {
					width: 100%;
				}
			}
			&__link {
				margin-left: 0;
				justify-content: center;
				border-radius: 32px;
				padding: 1rem 32px;
				background: #d5e2fc;
				&:nth-child(2) {
					justify-content: space-between;
				}
			}
			&__column {
				gap: 8px;
				border-radius: 32px;

				padding: 32px 8px;
				background: rgba(252, 252, 252, 0.08);
				&:nth-child(2) {
					height: 100%;
				}
			}
		}
		.menu-top {
			&__links {
				background: #d5e2fc;
				border-radius: 32px;
				padding: 16px 10px;
				justify-content: space-evenly;
				margin-bottom: 32px;
			}
			&__link {
				text-align: center;
				margin-left: 0;
				color: #145cef;
				opacity: 1;
			}
		}
	}
}
