.cases
	._body 
		._title Кейсы
		._ellipse-1 
		._ellipse-2 
		._cards  
			._item-card
				._image 
				._lable 
					span Schneider Electric
				._content 
					._text Подобрали 400 специалистов в сфере промышленной автоматизации за месяц
			._item-card
				._image 
				._lable 
					span Schneider Electric
				._content 
					._text Подобрали 400 специалистов в сфере промышленной автоматизации за месяц
			._item-card
				._image 
				._lable 
					span Schneider Electric
				._content 
					._text Подобрали 400 специалистов в сфере промышленной автоматизации за месяц
		._button 
			button(type="submit") Показать все услуги
		