.direction 
	._body
		.direct-slide
			._title Совет директоров
			._body
				.btn-prew.direction-btn-prew
					+iconfont('arrow-left')
				.btn-next.direction-btn-next
					+iconfont('arrow-right') 
				._item 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore
								button(type="submit")._swift Swift Technical
						._content 
							._title Лариса Катунина
							._text Генеральный директор и собственник компании 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore
								button(type="submit")._swift Swift Technical
						._content 
							._title Виолетта Романова
							._text Директор по подбору персонала и развития бизнеса
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore
								button(type="submit")._swift Swift Technical
						._content 
							._title Федор Коршунов
							._text Генеральный директор и собственник компании
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore
								button(type="submit")._swift Swift Technical
						._content 
							._title Федор Коршунов
							._text Генеральный директор и собственник компании
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore
								button(type="submit")._swift Swift Technical
						._content 
							._title Федор Коршунов
							._text Генеральный директор и собственник компании
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
		.holding-slide
			._title Команда холдинга
			._body
				.btn-prew.holding-btn-prew
					+iconfont('arrow-left')
				.btn-next.holding-btn-next
					+iconfont('arrow-right') 
				._item 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore 
						._content 
							._title Перт Мартич
							._text Генеральный директор 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button 
								button(type="submit")._swift Swift Technical
						._content 
							._title Мария Наршиева
							._text Генеральный директор 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore 
						._content 
							._title Анна Федукова
							._text Генеральный директор 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button 
								button(type="submit")._swift Swift Technical
						._content 
							._title Максим Лаврентьев
							._text Генеральный директор 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button
								button(type="submit")._nordcore Nordcore 
						._content 
							._title Анна Федукова
							._text Генеральный директор 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru 
					.card-item 
						._image
							img(src="./img/img-slide.png", alt="image")
							._button 
								button(type="submit")._swift Swift Technical
						._content 
							._title Максим Лаврентьев
							._text Генеральный директор 
							._contact 
								._phone 8 (919) 970 03 08
								._mail larisa.katunina@swifttechnical.ru
