.service-nordcore 
	._body 
		._title Услуги Nordcore
		.service-card._cards
			._items
				._item
					._image 
					._content
						a(href="#")._title Консультации 
							+iconfont('arrow-right')
						._text 
							p Это обучающая платформа, которая собрала в себе полную коллекцию лучших курсов по карьерному консультированию, эйчар и повышению квалификации. 
				._item
					._image 
					._content
						a(href="#")._title Обучение и оценка 
							+iconfont('arrow-right')
						._text 
							p Это обучающая платформа, которая собрала в себе полную коллекцию лучших курсов по карьерному консультированию, эйчар и повышению квалификации.
		._button 
			a(href="" type="submit") Показать все услуги


