.clients
	._body 
		._title Отзывы клиентов
		._cards
			._item-card
				._lable 
					span ЗАО «ТАМАНЬНЕФТЕГАЗ»
				._image 
				._content 
					._text
						p Слаженная и качественная работа, профессиональный подход к выполнению своих обязательств позволяют осуществлять поставленные задачи и гарантировать непрерывность производственного процесса. Надеемся на дальнейшее взаимовыгодное сотрудничество. Слаженная и качественная работа, профессиональный подход к выполнению своих обязательств позволяют осуществлять поставленные задачи и гарантировать непрерывность производственного процесса.
						._link 
							+iconfont('read-text')
							a(href="#") 
								span Читать полностью
					._caption
						._name А. М. Меткин
						._post Генеральный директор
			._item-card
				._lable 
					span ЗАО «ТАМАНЬНЕФТЕГАЗ»
				._image 
				._content 
					._text
						p Слаженная и качественная работа, профессиональный подход к выполнению своих обязательств позволяют осуществлять поставленные задачи и гарантировать непрерывность производственного процесса. Надеемся на дальнейшее взаимовыгодное сотрудничество. Слаженная и качественная работа, профессиональный подход к выполнению своих обязательств позволяют осуществлять поставленные задачи и гарантировать непрерывность производственного процесса. 
					._caption
						._name З. А. Грызлова
						._post Начальник отдела закупок
		._button 
			a(href="" type="submit") Показать все услуги