.media 
	._body 
		._ellipse-1
		._ellipse-2
		._title Медиа
		nav.menu-media._menu 
			._button
				span Последние материалы
				._btn-icon
					+iconfont('angle-down')
			._collapse-block._collapse 
				a(href="")._link Статьи
				a(href="")._link Гайды
				a(href="")._link Новости 
		._cards
			._item-card
				._lable 
					a(href="#") 
						span Статьи
				._image  
				._content 
					._data 21 сентября
					._text Подобрали 400 специалистов в сфере промышленной автоматизации за месяц 
			._item-card
				._image  
				._lable 
					a(href="#") 
						span Новости
				._content 
					._data 21 сентября
					._text Подобрали 400 специалистов в сфере промышленной автоматизации за месяц 
			._item-card
				._image 
				._lable 
					a(href="#") 
						span Гайды
				._content 
					._data 21 сентября
					._text Подобрали 400 специалистов в сфере промышленной автоматизации за месяц
		._button 
			a(href="" type="submit") Показать все материалы

