.info-page
	._vector1
		svg(width="354.945251", height="351.419434", viewBox="0 0 354.945 351.419")
			path(d="M349.251 0.253418L6.54663 119.556C1.46979 121.324 -1.21796 126.859 0.536926 131.934L74.5931 346.085C76.6475 352.026 84.4828 353.321 88.3444 348.358L354.026 6.89258C356.635 3.54004 353.266 -1.14404 349.251 0.253418Z")
	._image._ibg(data-move-el="[{'bp-max': 690, 'index': 2, 'target': '.bp-2'}]")
		img(src="./img/bg-image/image-1.png", alt="image-1")
		._vector-8._ibg
			//- img(src="./img/vector_8.png", alt="image-1")
		._ellipse9
			svg(width="344.969604", height="502.836914", viewBox="0 0 344.97 502.837")
				ellipse(cx="172.484802", cy="251.418457", rx="172.484818", ry="251.418549")
	.content-infopage._content.bp-2
		._title 
			p 
				span // 
				| Комплексные
			p 
				span кадровые
				span(data-move-el="[{'bp-max': 1140, 'index': 1, 'target': '.bp-1'}]") решения
			p._adaptive.bp-1
		._text 
			| Консалтинговая компания Nordcore & Swift Technical занимается подбором и предоставлением высококвалифицированного персонала для крупнейших российских и международных компаний.
		.infopage-footer._footer
			._column
				._title 2
					span офиса
				._text В Москве и Южно-Сахалинске
			._column
				._title 25
					span лет
				._text Помогаем компаниям
			._column
				._title 2
					span офиса
				._text В Москве и Южно-Сахалинске
			._column
				._title 25
					span лет
				._text Помогаем компаниям
	.card-company._card-company
		._column 
			._content
				a(href="#")._title Swift Technical 
					+iconfont('arrow-right')
				._text Подбор, временный персонал, 
					br 
					| технико-консультационные услуги
				._tags
					._tag-card 
						a(href="#") Подбор персонала
					._tag-card //
					._tag-card 
						a(href="#") Временный персонал
					._tag-card 
						a(href="#") Консультационные услуги
					._tag-card //
					._tag-card 
						a(href="#") Еще одна услуга
		._column 
			._content
				a(href="#")._title Nordcore 
					+iconfont('arrow-right')
				._text Карьерное консультирование B2C и
					br
					| корпоративное обучение B2B
				._tags
					._tag-card
						a(href="#") Обучение и оценка
					._tag-card
						span //
					._tag-card
						span //
					._tag-card
						a(href="#") Консультационные услуги
	.footer-content._footer 
		._image-btn 
		._vector-9._ibg 
			img(src="../img/vector_9.png", alt="vector_8")
		._vector-10._ibg 
			img(src="../img/vector_10.png", alt="vector_10")
		._vector-11  
		._body
			._column
				._title 
					p 
						span // 
						|  Формируем команды,
					p 
						span подбираем 
						span(data-move-el="[{'bp-max': 690, 'index': 2, 'target': '.bp-3'}]") специалистов 
					p._adaptive.bp-3
				._text 
					| Собираем эффективные команды и помогаем ими управлять. В любых формах занятости, для решения любых задач.
			._column 
				button(type="submit")._button
					| Подробнее о холдинге
					+iconfont('text-doc')
		.footer-info._footer
			._wrapper
				._column
					._title 78
						span %
					._text Высокий процент закрытия вакансий
				._column
					._title 20-40
						span дней
					._text Средний срок закрытия вакансий
				._column
					._title 10 000 
					._text Сотрудников подобрализа 25 лет
				._column
					._title 300 000 
					._text Специалистов в собственной базе
	.burger-menu.open
		._bg
		._header.bp-10  
		._body.bp-9



