.holding-team-slide
	._body  
		._title Команда холдинга
			.holding-slide
				._body
					._btn-prew 
						+iconfont('arrow-left')
					._btn-next
						+iconfont('arrow-right') 
					._item 
						.card-item 
							._image
								img(src="./img/img-slide.png", alt="image")
								._button
									button(type="submit")._nordcore Nordcore 
							._content 
								._title Перт Мартич
								._text Генеральный директор 
								._contact 
									._phone 8 (919) 970 03 08
									._mail larisa.katunina@swifttechnical.ru 
						.card-item 
							._image
								img(src="./img/img-slide.png", alt="image")
								._button 
									button(type="submit")._swift Swift Technical
							._content 
								._title Мария Наршиева
								._text Генеральный директор 
								._contact 
									._phone 8 (919) 970 03 08
									._mail larisa.katunina@swifttechnical.ru
						.card-item 
							._image
								img(src="./img/img-slide.png", alt="image")
								._button
									button(type="submit")._nordcore Nordcore 
							._content 
								._title Анна Федукова
								._text Генеральный директор 
								._contact 
									._phone 8 (919) 970 03 08
									._mail larisa.katunina@swifttechnical.ru 
						.card-item 
							._image
								img(src="./img/img-slide.png", alt="image")
								._button 
									button(type="submit")._swift Swift Technical
							._content 
								._title Максим Лаврентьев
								._text Генеральный директор 
								._contact 
									._phone 8 (919) 970 03 08
									._mail larisa.katunina@swifttechnical.ru