.review
	._vector-7 
	._body 
		._body-content 
			._info.bp-4
				._title 
					span // 
					| Всё получится: новая профессия и новая жизнь
				._text С вами всегда наставники, ревьюеры и такие же как вы студенты. Реальные проекты и целая платформа с упражнениями помимо теории. Практикум помогает прийти к цели быстрее. Главное — идти!
				._buttons
					button(type="submit")._button Обсудить проект
						+iconfont('interaction')
					a(href="mailto:")._button Отправить резюме
						+iconfont('mail')
			._image(data-move-el="[{'bp-max': 960, 'index': 2, 'target': '.bp-4'}]")
				img(src="./img/review.png", alt="") 
				._vector-8 