footer.footer
	._body
		.top-row._row 
			._column 
				._image
					a(href="#")
						img(src="./img/icon/logo_swift.svg", alt="logo Swift") 
			._column 
				._image
					a(href="#")
						img(src="./img/icon/logo_nordcore.svg", alt="logo Nordcore") 
			._column 
				._addres
					._city Москва
					._street 4й Добрынинский переулок, дом 8, офис С03-01 
			._column 
				._contact
					a(href="mailto:")._mail 
						span Contact@SwiftTechnical.ru
					a(href="tel:+74956636500")._phone
						span +7 (495) 663-65-00
			._column.bp-7
			._column.bp-8
		.middle-row._row 
			._column 
				nav._menu
					._button
						span Swift Technical 
						+iconfont("angle-down")
					ul._list._collapse
						li._menu-link Подбор персонала
						li._menu-link Временный персонал
						li._menu-link Консультационные услуги
						li._menu-link Подбор персонала
						li._menu-link Временный персонал
						li._menu-link Консультационные услуги
			._column 
				nav._menu
					._button
						span Nordcore
						+iconfont("angle-down")
					ul._list._collapse
						li._menu-link Обучение и оценка
						li._menu-link Консультационные услуги
						li._menu-link Обучение и оценка
						li._menu-link Консультационные услуги
						li._menu-link Обучение и оценка
						li._menu-link Консультационные услуги
			._column 
				a(href="#")._link._bold Кейсы 
				nav._menu
					._button
						span Медиа
						+iconfont("angle-down")
					ul._list._collapse
						li._menu-link Статьи
						li._menu-link Гайды
						li._menu-link Новости
						li._menu-link Мероприятия
			._column 
				ul._list 
					li._link 
						a(href="#") О холдинге
					li._link 
						a(href="#") Вакансии
					li._link 
						a(href="#") Контакты
			._column 
				._contact(data-move-el="[{'bp-max': 960, 'index': 1, 'target': '.bp-7'}]") 
					._info incontact
					._hr HR-отдел
					a(href="mailto:")._mail 
						span Contact@SwiftTechnical.ru
				._network(data-move-el="[{'bp-max': 960, 'index': 1, 'target': '.bp-8'}]")
					._image
						img(src="../img/icon/telegram.svg", alt="Telegram")
					._image
						img(src="../img/icon/social_icon.svg", alt="social_icon")
					._image
						img(src="../img/icon/wk.svg", alt="Contact")
					._image
						img(src="../img/icon/instagram.svg", alt="Instagram")
					._image
						img(src="../img/icon/hh.svg", alt="Headhunter") 
		.bottom-row._row 
			._column 
				._text
					p Политика конфиденциальности
					p Сделано в  CULT
			._column 
				._text
					p Сайт носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2) Гражданского кодекса Российской Федерации. Условия и стоимость предоставления услуг необходимо уточнять у менеджера.
					p 1997–2023 © Nordcore & Swift Technical